/* profile container */
#tweet-box {
	width: 90%;
	height: 17rem;
	margin-bottom: 6rem;
	border: solid #522110 3px;
	box-shadow: 0px 0px 0px #332a28;
	transition: all 300ms ease-in-out;

}

#tweet-box:hover {

	box-shadow: 0px 5px 10px #332a28;
}

/* user avatar */
img.avatars {
	width: 15%;
	height: 30%;
	margin:  2em 2em 2em 2em;
	float: left;
	display: block;
}

/* user avatar */
h3 {
	margin-top: 2em;
	font-family: Bungee; sans-serif;
	color: #522110;
	font-size: 1em;
	text-align: left;
	font-weight: 700;
	display: inline-block;


}

span.user-handle {
	text-align: right;
	color: #9e8d86;
	margin-left: 8em;
	margin-top: 2em


} 

p.tweet-content {

}


/* Error message (default hidden) */
.new-tweet h4 {
	margin: 0.5em 0;
	font-size: 0.9em;
	font-weight: 400;
	color: #D8000C;
	background-color: #FFD2D2;
	border-radius: 5px;
	display: none;
}

/* Error icon */
.new-tweet i {
	padding: 3px 10px;
} 

/* Footer */
footer.tweet-footer {
	border-top: 3px solid #522110;
	clear: both;
	position:relative;
	height: 50px;
	padding: 7px 12px 7px 12px;
	bottom: -2.3em;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: space-between
  
}

/* Footer type */
.time {

}
time.timeago {

}

/* Footer type */
i.fas.fa-flag {
	color: #e0a205;
}
i.fas.fa-flag:hover {
	color: #916a07;
}
i.fas.fa-retweet {
	color: #e0a205;
}
i.fas.fa-retweet:hover {
	color: #916a07;
}
i.fas.fa-heart {
	color: #e0a205;
}
i.fas.fa-heart:hover {
	color: #916a07;
}